body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
html, body {
    overflow-x: hidden; /* para remover os espaçamentos brancos das laterais */
}
/* Logo - ajuste se necessário */
.logo {
    width: 120px;
    float: right;
    padding: 0px;
}
header {
    background-color: #ffffff;
    padding: 10px 20px;
    position: relative;
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Menu Toggle (Botão Hambúrguer) */
.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    right: 20px; /* Ajuste a posição conforme necessário */
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #FF3131;
    margin: 3px 0;
    transition: 0.3s ease;
}

/* Lista de navegação */
.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    right: -250px; /* para esconder a nav à direita */
    width: 250px;
    height: 100%;
    background: rgb(255,49,49);
    background: linear-gradient(90deg, rgba(255,49,49,1) 0%, rgba(255,62,62,1) 100%);
    padding: 60px 0; 
    transition: right 0.3s ease;
    z-index: 1000;
}

.nav-list.active {
    right: 0; /* Desliza para dentro da tela */
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-list i a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: #ffffff;
    color: #FF3131;
}

.iconlist {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}
/* Estilo do formulário de pesquisa */
.form-inline {
    display: -ms-flexbox;
    display: flex;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
-ms-flex-align: center;
align-items: center;
flex-wrap: nowrap;
}

/* Estilo do campo de entrada */
.form-control {
    width: 250px; /* Ajuste a largura conforme necessário */
    padding: 5px 10px; /* Menos preenchimento interno */
    font-size: 14px; /* Fonte menor */
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid #b4b4b4; /* Cor da borda */
        margin-right: 14px; /* Espaço entre o campo de entrada e o botão */
}

/* Estilo do botão de pesquisa */
.btn-outline-success {
    padding: 5px 10px; /* Menos preenchimento interno */
    font-size: 14px; /* Fonte menor */
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid #FF3131; /* Cor da borda vermelha */
    color: #FF3131; /* Cor do texto vermelha */
    background-color: transparent; /* Fundo transparente */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

/* Estilo do botão de pesquisa ao passar o mouse */
.btn-outline-success:hover {
    border: 1px solid #FF3131;
    background-color: #FF3131; /* Cor de fundo vermelha ao passar o mouse */
    color: #ffffff; /* Cor do texto branca ao passar o mouse */
}

h1, h2{
    color: #FF3131;
    text-align: center;
}

.price {
    color: #e60a0a;
    font-size: 22px;
}
.discount {
    padding: 10px;
    color: green;
    font-size: 14px;
}
.d-flex {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
del {
  font-size: 16px;
  color: rgb(97, 97, 97);
  padding-left: 5px;
}

.product-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 1em;
    background-color: #f9f9f9;
    overflow: hidden;
    width: 200px;
    height: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.product img {
  width: 100%;
  height: 170px; 
  object-fit: contain;
  border-radius: 10px;
}


.product-card img {
    width: 90%;
    height: 150px;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
}

.product-card h3 {
  font-size: 14px;
  margin: 10px 0;
  color: #333;
  text-align: center;
}

.product h5 {
  font-size: 16px; /* Ajuste conforme necessário */
  margin: 10px 0;
  height: 40px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.product .price {
  font-size: 16px; /* Ajuste conforme necessário */
  color: #e74c3c;
  margin: 10px 0;
  height: 20px; /* Ajuste conforme necessário */
}


.product-card .add-to-cart {
    background-color: #FF3131;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;
    }
    
    .product img {
    transition: 0.3s all;
    width: 100%;
    max-width: 150px; 
    height: 150px;
    padding-top: 20px; 
    object-fit: scale-down;
    border-radius: 10px
    }
    
    .product:hover img {
    opacity: 0.7;
    }
    .price {
        color: #dc3545;
    }

    del {
        color: gray;
        padding-left: 5px;
    }

    .btn-info {
        background-color: #FF3131;
        border: none;
        color: #fff;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 85%;
    }

    .btn-info:hover {
        background-color: #FF3131;
        border: none;
        color: #fff;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 85%;
    }

    /* Footer da pagina */
    footer{
        background-color: #FF3131;
        padding: 50px 0;
        width: 100%;
    }
    .container-footer{
        max-width: 1400px;
        padding: 0 4%;
        margin: auto;
    }
    .row-footer{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 22px;
        color: white;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }
    .footer-col ul{
        list-style: none;
    }
    .footer-col ul li{
        margin: 10px 0;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #cecdcd;
        padding-left: 10px;
    }
    .footer-col .medias-socias{
        margin-top: 30px;
    }
    .footer-col .medias-socias a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin: 0 10px 10px 0;
        text-decoration: none;
        border-radius: 50%;
        color: white;
        border: 1px solid white;
        transition: all 0.5s ease;
    }
    .footer-col .medias-socias a i{
        font-size: 20px;
    }

    .footer-col .medias-socias a:hover{
        color: #FF3131;
        background-color: white;
    }
    .footer-col .form-sub input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        outline: none;
        border: 1px solid white;
        color: white;
        background-color: #FF3131;
    }
    .footer-col .form-sub input::placeholder{
        color: white;
    }
    .footer-col .form-sub button{
        margin-top: 10px;
        padding: 10px; 
        font-size: 17px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #FF3131;
        border-radius: 3px;
        font-weight: bold;
        background-color: white;        
    }
    @media (max-width: 800px) {
       .footer-col{
         width: 50%;
        margin-bottom: 30px;
        }
    }
    @media (max-width:600px) {
        .footer-col{
            width: 100%;
     }
    }